@font-face {
  src: url("fonts/gulax/Gulax-Regular.woff2");
  font-family: "Gulax";
  font-style: normal;
}
#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -355555;
}
.anim_intro {
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  z-index: 999999999999999999;
  top: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}
.fadeout_vid {
  animation-name: anim_scaled;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeout_vid {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container_enter {
  top: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  /* transform: translate(calc(50vw - 50%)); */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999999999999999999999;
  justify-content: center;
  position: fixed;
}

.logo_enter_container {
  display: flex;
  transition: 1s;
  justify-content: center;
}

#logo_enter {
  width: 30vw;
  min-width: 300px;
  z-index: -99;
  position: relative;
  max-height: 336px;
}
#logo_enter::before {
  z-index: -99;
  position: absolute;
  width: 100%;
  height: 100%;
}
#festival_typo {
  transition: 1s;
  position: relative;
  max-height: 109px;
  scale: 0.5;
}
.enter {
  color: white;
  position: absolute;
  font-family: Gulax;
  position: relative;
  background-color: #6b9ac4;
  box-shadow: #2a3243 5px 5px;
  font-size: 50px;
  border-radius: 999px;
  padding: 10px 30px;
  z-index: 99 ;
  transition: 1s;
}
.enter:hover {
  color: white;
  position: absolute;
  font-family: Gulax;
  position: relative;
  background-color: #4e708e;
  box-shadow: #2a3243 5px 5px;
  font-size: 50px;
  border-radius: 999px;
  padding: 10px 30px;
  z-index: 99;
  transition: 1s;
}
.enter_container {
  transition: 1s;
  width: fit-content;
}

body {
  background-color: #30405f;
  margin: 0;
  padding: 0;
}

.cache_home {
  position: fixed;
  z-index: 9999999999999999998;
  width: 100vw;
  height: 100vh;
  background-color: #36496b;
}

.slide_off {
  animation-name: slide_off;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide_off {
  0% {
  }
  100% {
    opacity: 0;
  }
}
.invisible {
  opacity: 0;
  transition: 1s;
}
@keyframes anim_scaled {
  to {
    scale: 0;
  }
}

/*
SAUVEGARDE STYLE_YEUX.CSS

#logo{
    z-index: -99;
    position: relative;
}
#logo::before{
    z-index: -99;
    position: absolute;
    width: 100%;
    height: 100%;
}

*/
