@font-face {
    src: url('fonts/gulax/Gulax-Regular.woff2');
    font-family:'Gulax';
    font-style: normal;
  }
 .video_init{
    position: fixed;
    width: 100vw;
    /* height: 100vh; */
    z-index: 999999;
    background-image: url("animation_logo.mp4")
 }
 .fadeout_vid{
    animation-name: fadeout_vid;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
 }

@keyframes fadeout_vid{
0%{
    opacity: 1;
}
100%{
    opacity: 0;
}
}
nav{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: calc(0.25 * 100vw);
}

.nav_links{
    background-color: #6782b7;
    border-radius: 100000px;
    padding: 10px 20px;
}

.nav_links_container{
    font-family: Gulax;
    font-size: calc(100vw / 30);
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: white;
}


.logo_container{
    position: relative;
    width: 100%;
    top:20px;
    display: flex;
    /* justify-content: center; */
}

#logo{
    top:-70%;
    z-index: -99;
    position: relative;
}
#logo::before{
    z-index: -99;
    position: absolute;
    width: 100%;
    height: 100%;
}


body{
    background-color: #30405F;
    margin: 0;
    padding: 0;
}